#watch_img {
    width: 100%;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

#watch_btn {
    display: block;
    width: 100%;
}

#social-actions {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.table {
    text-align: left;
    width: 100%;
}

iframe {
    width: 100%;
    height: 545px;
}

.section-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
}

#section-desc p {
    color: white;
}

td {
    color: white;
}

.inline {
    display: inline-block;
}

.active {
    background-color: #007bff;
    color: white;
}

