/* HEADER */
.header {
  background-color:#211f1c;
  color: #a19c95;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.header p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.header .cta {
  background-color: #e0dbd3;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.header .cta:hover {
  background-color: #305591;
  color: #fff;
  cursor: pointer;
}

#wall{
  height: 30px;
  background-color: #343a40;
}
/* FOOTER */
footer {
  background-color: #211f1c;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

nav {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ccc;
}

/* filter-link */
.category {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  transition: all 0.3s ease;
  text-align: center;
}

.category:hover {
  background-color: #444;
}

.category.active {
  background-color: #555;
}


/* Base button */
#navbar-button {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  transition: all 0.3s ease;
}

#navbar-button:hover {
  background-color: #444;
}

#navbar-button:active {
  transform: translateY(4px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* 100% of the viewport height */
}

#about-content {
  text-align: center;
  color: white;
  width: 70vh;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 3s;
}


/* Keyframes for the animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    /* Start at 0% opacity */
  }

  100% {
    opacity: 1;
    /* End at 100% opacity */
  }
}

#spinner {
  display: none; /* hide spinner by default */
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#content-section{
  background-color: #343a40;
}