$primary-color: #0c000e;
$secondary-color: #320447;
$tertiary-color: #220229;
$highlight-color: rgb(234, 157, 238);
$background-color: rgb(32, 31, 31);
$transparent-color: rgba(233, 13, 237, 0.5);

.container-fluid{

    background: linear-gradient(to bottom, $primary-color 20%, $secondary-color 30%, $tertiary-color 40%);
    height: 100%;
}

.header{
    color: #a19c95;
    text-align: center;
    height: 10%;
    width: 100%;
  
    h1{

        display: inline-block;
        font-size: 36px;
        font-weight: bolder;
        animation: blink 0.7s linear infinite;
        -webkit-text-stroke: 1px $highlight-color;
        -webkit-text-fill-color: $background-color;
        filter: blur(0.1px);
    }
  
      @keyframes blink{

          50%{

              opacity: 0.4
          }
      }
  
    p{

        margin: 0;
        padding: 0;
        font-size: 18px;
        color: $transparent-color;
  }
    }

.content-section{

    height: 80%;
}

#search:-webkit-autofill, #search:-webkit-autofill:hover, #search:-webkit-autofill:focus, #search:-webkit-autofill:active{

    -webkit-background-clip: text
}

#search::placeholder{

    color: rgba(194, 17, 197, 0.5)
}

#search:active{

    background: none
}

#search{

    color: white;
    outline: none;
    background: none;
    border-radius: 20px;
    border: 1px solid $transparent-color;
  
    &:focus{

        outline: none;
        border: 3px solid $transparent-color;
    }
}

#searchBtn{
    background: none;
    border: 1px solid $transparent-color;
  
    i{

        color: $transparent-color;
    }
  
    &:hover{

        border: 1px solid $transparent-color;
        background-color: $transparent-color;
    }

}

#list-group{

    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}

#wrapperLink{

    display: flex;
}

  a{

      color: white;
  }

.category{

    width: 100%;
    -webkit-text-stroke: 1px $highlight-color;
    -webkit-text-fill-color: $background-color;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
  
    &:hover{

        -webkit-text-stroke: 1px $highlight-color;
        -webkit-text-fill-color: $background-color;
        filter: blur(0.1px);
        transform: scale(1.5);
    }
  
    &.active{

        background-color: #555;
    }
}

#movie-section{

    margin-top: 5px;
    margin-bottom: 5px;
}

h2{

    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

#random_row, #popular_row{

    padding-top: 25px;
}

#top_rated_row, #upcoming_row{

    padding-top: 25px;
}

/* FOOTER */
.footer {
    height: 10%;
  }
  
  #wall {
    height: 30px;
    width: 100%;
  }
  
  #footer-container {
    display: flex;
    background-color: none;
    color: #fff;
    justify-content: center;
  }
  
  #footer-left {
    text-align: center;
    justify-content: center;
  }
  
  #footer-left p {
    -webkit-text-stroke: 1px rgb(234, 157, 238);
    -webkit-text-fill-color: rgb(32, 31, 31);
  }
  
  nav {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    -webkit-text-stroke: 1px rgb(234, 157, 238);
    -webkit-text-fill-color: rgb(32, 31, 31);
    text-decoration: none;
  
  }
  
  nav ul li a:hover {
    color: #ccc;
  }